@model Discount

<div class="modal fade bd-example-modal-lg" id="discount-add" tabindex="-1" role="dialog" aria-labelledby="discountModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountModalTitle">Thêm mã</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="add" method="post" id="discount-form">
                    <input type="hidden" name="DiscountId" asp-for="DiscountId">
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Tên dịp giảm giá</label>
                                <input type="text" class="form-control" placeholder="Enter discount name" name="DiscountName" asp-for="DiscountName" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Phần trăm(%)</label>
                                <input type="number" class="form-control" placeholder="Enter discount percent" name="DiscountPercent" asp-for="DiscountPercent" min="0" max="100" required title="Giảm giá phải từ 0 đến 100%">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Ngày bắt đầu</table></label>
                                <input type="date" class="form-control" name="StartDate" asp-for="StartDate" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Ngày kết thúc</label>
                                <input type="date" class="form-control" name="EndDate" asp-for="EndDate" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="border-radius: 20px;">Đóng</button>
                <button type="submit" class="btn btn-outline-primary" style="border-radius: 20px;" form="discount-form">Lưu</button>
            </div>
        </div>
    </div>
</div>