@model Material

<div class="modal fade bd-example-modal-lg" id="material-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="add" method="post" id="material-add-form">
                    <input type="hidden" name="material_id" asp-for="MaterialId">
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="material_name">Material Name</label>
                                <input type="text" class="form-control" placeholder="Enter material name" name="material_name" asp-for="MaterialName">

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" placeholder="Enter description" name="description" asp-for="Description" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="is_deleted">Is Deleted?</label>
                                <select class="form-control" name="is_deleted" asp-for="IsDeleted">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="border-radius: 20px;">Close</button>
                <button type="submit" class="btn btn-outline-primary" style="border-radius: 20px;" form="material-add-form">Save changes</button>
            </div>
        </div>
    </div>
</div>
