@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model _123.RoleViewModel

<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý Chức Năng</h6>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success" style="margin: 10px 40px 0;" data-toggle="modal" data-target="#role-add">
            Thêm mới
        </button>
        @await Html.PartialAsync("/Views/Admin/roleadd.cshtml", @Model.Role)
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Chức Năng</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Roles.Count(); i++)
                    {
                        <tr>
                            <td>@(i + 1)</td> <!-- Index -->
                            <td>@Model.Roles[i].Code</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#role-edit-@Model.Roles[i].Id">
                                    <i class="material-icons" style="font-size: 14px">border_color</i>
                                </button>
                                @await Html.PartialAsync("/Views/Admin/roleedit.cshtml", Model.Roles[i])

                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#role-delete-@Model.Roles[i].Id">
                                    <i class="material-icons" style="font-size: 14px">delete</i>
                                </button>
                                @await Html.PartialAsync("/Views/Admin/roledelete.cshtml", Model.Roles[i])
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
