@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
<<<<<<< HEAD

    <h1 class="display-4">Welcome anh Hưng 8386 </h1>
=======
<h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
>>>>>>> 1e14f68d731da83fb1827b7adc4e27280cc149aa
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
