@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/css/home.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="home">
    		<div class="trangsucgiamgia">
      			<img class="icon" alt="" src="1.png">
      			
      			<img class="icon1" alt="" src="2.png">
      			
      			<img class="icon2" alt="" src="3.png">
      			
      			<div class="nhn-cu-hn">Nhẫn cầu hôn</div>
      			<div class="nhn-ci">Nhẫn cưới</div>
      			<div class="trang-sc-kim">Trang sức kim cương</div>
      			<div class="gim-ngay-15">Giảm ngay 15%</div>
      			<div class="gim-ngay-151">Giảm ngay 15%</div>
      			<div class="gim-ngay-152">Giảm ngay 15%</div>
      			<div class="khm-ph-ngay">Khám phá ngay  &gt;</div>
      			<div class="khm-ph-ngay1">Khám phá ngay  &gt;</div>
      			<div class="khm-ph-ngay2">Khám phá ngay  &gt;</div>
    		</div>
    		<div class="nhancauhon">
      			<div class="nhancauhon-child">
      			</div>
      			<div class="nhn-cu-hn1">Nhẫn Cầu Hôn</div>
      			<div class="mt-chic-nhn">Một chiếc nhẫn lấp lánh trao tay, mở ra hành trình yêu thương viên mãn.</div>
      			<img class="screenshot-2024-11-11-233819" alt="" src="Screenshot 2024-11-11 233819.png">
      			
      			<img class="screenshot-2024-11-11-233844" alt="" src="Screenshot 2024-11-11 233844.png">
      			
      			<div class="xemthem-wrapper">
        				<div class="xemthem">
          					<div class="xemthem-child">
          					</div>
          					<div class="xem-thm">XEM THÊM</div>
        				</div>
      			</div>
    		</div>
    		<div class="nhancuoi">
      			<div class="nhancauhon-child">
      			</div>
      			<div class="nhn-ci1">Nhẫn Cưới</div>
      			<div class="biu-tng-ca">Biểu tượng của tình yêu và lời thề ước, khi hai tâm hồn trở thành một.</div>
      			<img class="screenshot-2024-11-11-234937" alt="" src="Screenshot 2024-11-11 234937.png">
      			
      			<img class="screenshot-2024-11-11-234924" alt="" src="Screenshot 2024-11-11 234924.png">
      			
      			<div class="xemthem-container">
        				<div class="xemthem">
          					<div class="xemthem-child">
          					</div>
          					<div class="xem-thm">XEM THÊM</div>
        				</div>
      			</div>
    		</div>
    		<div class="kimcuong">
      			<img class="kc-desktop-icon" alt="" src="4-KC-desktop.png">
      			
      			<div class="kim-cng-gia">Kim cương GIA</div>
      			<div class="kim-cng-thin">Kim cương thiên nhiên GIA được tuyển chọn dành riêng cho bạn.</div>
      			<div class="xemthem-frame">
        				<div class="xemthem">
          					<div class="xemthem-child">
          					</div>
          					<div class="xem-thm">XEM THÊM</div>
        				</div>
      			</div>
    		</div>
    		<div class="khamphabstmoi">
      			<div class="khm-ph-b">Khám phá bộ sưu tập mới</div>
      			<img class="screenshot-2024-11-12-000845" alt="" src="Screenshot 2024-11-12 000845.png">
      			
      			<img class="screenshot-2024-11-12-000858" alt="" src="Screenshot 2024-11-12 000858.png">
      			
      			<div class="spark-of-heaven">Spark Of Heaven</div>
      			<div class="shape-of-love">Shape Of Love</div>
      			<div class="ly-cm-hng">Lấy cảm hứng từ hình ảnh “Bridal Veil” trong khoảnh khắc “First look” đầy xúc động.</div>
      			<div class="thit-k-cch">Thiết kế cách điệu độc đáo, tạo nên bản giao hưởng tình yêu.</div>
      			<div class="khm-ph-ngay3">Khám phá ngay  &gt;</div>
      			<div class="khm-ph-ngay4">Khám phá ngay  &gt;</div>
    		</div>
    		<div class="top20bestselling">
      			<div class="top20bestselling-child">
      			</div>
      			<img class="screenshot-2024-11-12-002629" alt="" src="Screenshot 2024-11-12 002629.png">
      			
      			<img class="screenshot-2024-11-12-002533" alt="" src="Screenshot 2024-11-12 002533.png">
      			
      			<div class="top-20-best">Top 20 best selling</div>
      			<div class="thm-cht-ngt">Thêm chút ngọt ngào cho vẻ ngoài kiêu sa với mẫu bông tai yêu thích.</div>
      			<div class="frame-div">
        				<div class="xemthem">
          					<div class="xemthem-child">
          					</div>
          					<div class="xem-thm">XEM THÊM</div>
        				</div>
      			</div>
    		</div>
    		<div class="cuahang">
      			<img class="screenshot-2024-11-12-004427" alt="" src="Screenshot 2024-11-12 004427.png">
      			
      			<div class="ca-hng-handk">Cửa hàng HanDK</div>
      			<div class="th-gii-trang">Thế giới trang sức cùng không gian mua sắm tuyệt vời đang chờ bạn ghé thăm.</div>
      			<div class="xemthem-wrapper1">
        				<div class="xemthem">
          					<div class="xemthem-child">
          					</div>
          					<div class="xem-thm4">Đặt lịch hẹn</div>
        				</div>
      			</div>
    		</div>
    		<div class="cothebansethich">
      			<div class="c-th-bn">Có thể bạn thích</div>
      			<div class="xem-thm5">Xem thêm  &gt;</div>
      			<div class="component-1">
        				<div class="parent">
          					<img class="icon3" alt="" src="30.png">
          					
          					<img class="icon4" alt="" src="31.png">
          					
          					<img class="icon5" alt="" src="32.png">
          					
          					<img class="icon6" alt="" src="33.png">
          					
          					<img class="icon7" alt="" src="34.png">
          					
          					<img class="icon8" alt="" src="35.png">
          					
        				</div>
        				<img class="angle-right-icon" alt="" src="angle-right.svg">
        				
      			</div>
    		</div>
    		<div class="noibat">
      			<div class="component-2">
        				<div class="noibat">
          					<img class="b753-c4d3-4889-bd5d-43534bfa6d-icon" alt="" src="9540b753-c4d3-4889-bd5d-43534bfa6d62-2048x853.png">
          					
          					<div class="circle-notch-parent">
            						<img class="circle-notch-icon" alt="" src="circle-notch.svg">
            						
            						<img class="circle-notch-icon1" alt="" src="circle-notch.svg">
            						
            						<img class="circle-notch-icon2" alt="" src="circle-notch.svg">
            						
            						<img class="circle-notch-icon3" alt="" src="circle-notch.svg">
            						
            						<img class="circle-icon" alt="" src="circle.svg">
            						
          					</div>
        				</div>
        				<img class="angle-right-icon1" alt="" src="angle-right.svg">
        				
        				<img class="angle-left-icon" alt="" src="angle-left.svg">
        				
      			</div>
    		</div>
    		<div class="nhantuvan">
      			<div class="nhantuvan-child">
      			</div>
      			<div class="nhn-t-vn">Nhận tư vấn từ HanDK</div>
      			<div class="ng-k-ngay">Đăng ký ngay bên dưới để nhận được sự hỗ trợ từ chúng tôi.</div>
      			<div class="nhantuvan-item">
      			</div>
      			<div class="nhantuvan-inner">
      			</div>
      			<div class="nhantuvan-child1">
      			</div>
      			<div class="h-v-tn">Họ và tên</div>
      			<div class="s-in-thoi">Số điện thoại</div>
      			<div class="chn-tnh-thnh">Chọn tỉnh thành</div>
      			<img class="hands-helping-icon" alt="" src="hands-helping.svg">
      			
      			<div class="xemthem-wrapper2">
        				<div class="xemthem">
          					<div class="xemthem-child">
          					</div>
          					<div class="xem-thm6">Nhận tư vấn</div>
        				</div>
      			</div>
    		</div>
    		<div class="dichvu">
      			<div class="dichvu-child">
      			</div>
      			<div class="dch-v">Dịch vụ</div>
      			<div class="giao-hng-min-ph-ton-quc-parent">
        				<div class="giao-hng-min">Giao hàng miễn phí toàn quốc</div>
        				<div class="giao-hng-nhanh">Giao hàng nhanh trên toàn quốc hoàn toàn miễn phí</div>
        				<div class="khm-ph-ngay5">Khám phá ngay  &gt;</div>
        				<img class="shipping-fast-icon" alt="" src="shipping-fast.svg">
        				
      			</div>
      			<div class="bo-hnh-trn-i-parent">
        				<div class="bo-hnh-trn">Bảo hành trọn đời</div>
        				<div class="giao-hng-nhanh">Miễn phí bảo hành trọn đời cho tất cả trang sức</div>
        				<div class="khm-ph-ngay6">Khám phá ngay  &gt;</div>
        				<img class="hands-icon" alt="" src="hands.svg">
        				
      			</div>
      			<div class="ch-thu-i-n-100-parent">
        				<div class="ch-thu">Chế độ thu đổi đến 100%</div>
        				<div class="thu-i-nhanh">Thu đổi nhanh chóng, với chính sách lên đến 100%</div>
        				<div class="khm-ph-ngay7">Khám phá ngay  &gt;</div>
        				<img class="hand-holding-usd-icon" alt="" src="hand-holding-usd.svg">
        				
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>