@{
   
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh and anh Nam and anh Dũng</h1>
</div>
