@{
   
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
<<<<<<< HEAD

<<<<<<< HEAD
    <h1 class="display-4">Welcome anh Hưng 8386 </h1>
=======
<h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
>>>>>>> 1e14f68d731da83fb1827b7adc4e27280cc149aa
=======
    <h1 class="display-4">Welcome anh Hưng và anh Khanh</var></h1>
    
>>>>>>> 879ad2868271f002578fbc32d7c1081a53e36206
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
