<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HanDK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_123.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Thêm liên kết tới Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;1,300&display=swap" />
</head>
<body>
    <header>
  <div class="header">
      			<div class="header-child">
      			</div>
      			<div class="header-item">
      			</div>
      			<img class="handk-icon" alt="" src="HanDK.png" id="hanDKImage">
      			
      			<div class="trang-ch-wrapper12">
        				<div class="trang-ch15">Trang chủ</div>
      			</div>
      			<div class="trang-ch-wrapper13">
        				<div class="trang-ch15">Danh mục</div>
      			</div>
      			<div class="trang-ch-wrapper14">
        				<div class="trang-ch15">Thông tin</div>
      			</div>
      			<div class="trang-ch-wrapper15">
        				<div class="trang-ch15">Khuyến mãi</div>
      			</div>
      			<div class="trang-ch-wrapper16">
        				<div class="trang-ch15">HanDK</div>
      			</div>
      			<img class="search-location-icon" alt="" src="search-location.svg">
      			
      			<img class="phone-volume-icon" alt="" src="phone-volume.svg">
      			
      			<div class="div">0976534850</div>
      			<img class="user-icon" alt="" src="user.svg" id="userIcon">
      			
      			<div class="rectangle-parent">
        				<div class="group-child">
        				</div>
        				<i class="tm-kim">Tìm kiếm...</i>
        				<img class="search-icon" alt="" src="search.svg">
        				
      			</div>
      			<img class="shopping-cart-icon" alt="" src="shopping-cart.svg" id="shoppingCartIcon">
      			
      			<img class="icon-facebook-color" alt="" src="🦆 icon \"facebook color\".svg">
      			
    		</div>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer">
      			<div class="footer-child">
      			</div>
      			<img class="handk-footer-icon" alt="" src="HanDK_footer.png">
      			
      			<div class="sn-phm">SẢN PHẨM</div>
      			<div class="v-chng-ti">VỀ CHÚNG TÔI</div>
      			<div class="lin-h">LIÊN HỆ</div>
      			<div class="h-tr">HỖ TRỢ</div>
      			<div class="gi-mua-hng">GỌI MUA HÀNG</div>
      			<div class="gp-khiu">GÓP Ý KHIẾU NẠI</div>
      			<div class="trang-ch-wrapper">
        				<div class="trang-ch">Nhẫn cưới</div>
      			</div>
      			<div class="trang-ch-container">
        				<div class="trang-ch">Nhẫn cầu hôn</div>
      			</div>
      			<div class="trang-ch-frame">
        				<div class="trang-ch">0976534850</div>
      			</div>
      			<div class="frame-div">
        				<div class="trang-ch">Thu đổi</div>
      			</div>
      			<div class="trang-ch-wrapper1">
        				<div class="trang-ch">Câu chuyện HanDK</div>
      			</div>
      			<div class="trang-ch-wrapper2">
        				<div class="trang-ch">Cửa hàng</div>
      			</div>
      			<div class="trang-ch-wrapper3">
        				<div class="trang-ch">Thanh toán</div>
      			</div>
      			<div class="trang-ch-wrapper4">
        				<div class="trang-ch">Bảo mật thông tin</div>
      			</div>
      			<div class="trang-ch-wrapper5">
        				<div class="trang-ch">Hướng dẫn đo size</div>
      			</div>
      			<div class="trang-ch-wrapper6">
        				<div class="trang-ch">0976534850</div>
      			</div>
      			<div class="trang-ch-wrapper7">
        				<div class="trang-ch">0976534850</div>
      			</div>
      			<div class="trang-ch-wrapper8">
        				<div class="trang-ch">0976534850</div>
      			</div>
      			<div class="trang-ch-wrapper9">
        				<div class="trang-ch">Mail</div>
      			</div>
      			<div class="trang-ch-wrapper10">
        				<div class="trang-ch">Kim cương</div>
      			</div>
      			<div class="trang-ch-wrapper11">
        				<div class="trang-ch">Nhẫn nam</div>
      			</div>
    		</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
