<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HanDK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_123.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Thêm liên kết tới Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;1,300&display=swap" />
</head>
<body>
    <header>
  		<div class="header">
			<partial name="_LoginPopup" />
			<div class="header-child">
				<!-- Các icon bên trái -->
				<div class="left-icons">
					<img class="search-location-icon" alt="" src="search-location.svg">
					<img class="icon-facebook-color" alt="" src="🦆 icon \"facebook color\".svg">
					<img class="phone-volume-icon" alt="" src="phone-volume.svg">
					<div class="div">0976534850</div> <!-- Số điện thoại -->
				</div>

				<!-- Logo thương hiệu -->
				<img class="handk-icon" alt="" src="HanDK.png" id="hanDKImage">

				<!-- Các icon bên phải -->
				<div class="right-icons">
					<img class="shopping-cart-icon" alt="" src="shopping-cart.svg" id="shoppingCartIcon">
					<img class="user-icon" alt="" src="user.svg" id="userIcon">
				</div>
			</div>
			<nav>
				<div class="wrapper">
					<ul class="nav-links">
						<li><a href="#">Trang chủ</a></li>
						<li>
							<a href="#">Danh mục</a>
							<ul class="dropdown">
								<li>
									<a href="#">Nhẫn cầu hôn</a>
									<ul class="dropdown1">
										<li>
											<a href="#">Kiểu dáng</a>
											<ul class="type">
												<li><a href="#">Solitaire</a></li>
												<li><a href="#">Cathedral</a></li>
												<li><a href="#">Halo</a></li>
												<li><a href="#">Bridge Accent</a></li>
												<li><a href="#">Twist</a></li>
												<li><a href="#">Royal</a></li>
												<li><a href="#">ThreeStone</a></li>
												<li><a href="#">Trellis</a></li>
											</ul>
											</li>
										<li>
											<a href="#">Kiểu viên chủ</a>
											<ul class="type">
												<li><a href="#">Round</a></li>
												<li><a href="#">Heart</a></li>
												<li><a href="#">Pear</a></li>
												<li><a href="#">Princess</a></li>
												<li><a href="#">Emerald</a></li>
												<li><a href="#">Oval</a></li>
											</ul>
											</li>
										<li>
											<a href="#">Bộ sưu tập</a>
											<ul class="type">
												<li><a href="#">My Princess</a></li>
												<li><a href="#">Tender Love</a></li>
												<li><a href="#">Holding You</a></li>
												<li><a href="#">Eternal Promise</a></li>
												<li><a href="#">Bridal Gown</a></li>
												<li><a href="#">Petite Bridal</a></li>
												<li><a href="#">Blooming</a></li>
												<li><a href="#">Spark Of Heaven</a></li>
											</ul>
										</li>										
							</ul>
									</li>
								<li><a href="#">Nhẫn cưới</a></li>
								<li><a href="#">Trang sức</a></li>
								<li><a href="#">Kim cương</a></li>
								<li><a href="#">Men's</a></li>
							</ul>
							</li>
						<li>
							<a href="#">Thông tin</a>
							<ul class="dropdown">
								<li><a href="#">Hướng dẫn đo size</a></li>
								<li><a href="#">Thu hồi & đổi trả</a></li>
								<li><a href="#">Thanh toán</a></li>
								<li><a href="#">Bảo mật thông tin</a></li>
								<li><a href="#">Giá vàng</a></li>
							</ul>
							</li>
						<li><a href="#" style="color: red; text-decoration: none;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='red'">Khuyến mãi</a></li>
						<li><a href="#">HanDK</a></li>
					</ul>
					<div class="search-group">
							<input type="text" class="search-input" placeholder="Tìm kiếm...">
							<img class="search-icon" alt="search" src="search.svg">
						</div>	
				</div>
			</nav>	
    	</div>
	</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer">
			<img class="handk-footer-icon" alt="" src="HanDK_footer.png">
			<div class="tieu-de">
				<div class="tieude1">
					<h1>SẢN PHẨM</h1>
					<div class="foot">Nhẫn cưới</div>
					<div class="foot">Nhẫn cầu hôn</div>
					<div class="foot">Kim cương</div>
					<div class="foot">Nhẫn nam</div>
				</div>
				<div class="tieude2">
					<h1>LIÊN HỆ</h1>
					<div class="text-foot">GỌI MUA HÀNG</div>
					<div class="foot">0976534850</div>
					<div class="foot">0976534850</div>
					<div class="foot">0976534850</div>
					<div class="text-foot">GÓP Ý KHIẾU NẠI</div>
					<div class="foot">0976534850</div>
					<div class="foot">Mail</div>
				</div>
				<div class="tieude3">
					<h1>HỖ TRỢ</h1>
					<div class="foot">Thu đổi</div>
					<div class="foot">Thanh toán</div>
					<div class="foot">Bảo mật thông tin</div>
					<div class="foot">Hướng dẫn đo size</div>
				</div>
				<div class="tieude4">
					<h1>VỀ CHÚNG TÔI</h1>
					<div class="foot">Câu chuyện HanDK</div>
					<div class="foot">Cửa hàng</div>
				</div>
			</div>	
    	</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="/js/loginPopup.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
