<link rel="stylesheet" href="~/css/loginPopup.css" />
<div id="overlay"></div>  <!-- Thรชm overlay vรo ฤรขy -->
<div class="dangnhap" id="popupLogin">
    <div class="text">
        <div class="ti-khon">Tรi khoแบฃn</div>
        <div class="ng-nhp-hoc">ฤฤng nhแบญp hoแบทc tแบกo tรi khoแบฃn mแปi</div>
        <div class="s-hu-ngay">Sแป hแปฏu ngay tรi khoแบฃn riรชng cho mรฌnh ฤแป dแป dรng xem, thรชm cรกc mรณn trang sแปฉc yรชu thรญch vรo giแป hรng, thanh toรกn nhanh chรณng cรนng nhiแปu trแบฃi nghiแปm thรบ vแป khรกc.</div>
    </div>
    <div class="nhapemail">
    <div class="email-hoc-s">Email hoแบทc sแป ฤiแปn thoแบกi</div>
    <input type="text" class="input-field" placeholder="Nhแบญp email hoแบทc sแป ฤiแปn thoแบกi" />
</div>
<div class="nhapmatkhau">
    <div class="email-hoc-s">Mแบญt khแบฉu</div>
    <input type="password" class="input-field" placeholder="Nhแบญp mแบญt khแบฉu" />
</div>

    <div class="dangnhap1" id="dangNhapContainer">
        <div class="dangnhap-child"></div>
        <div class="ng-nhp">ฤฤng nhแบญp</div>
    </div>
    <div class="dangky">
        <div class="ng-k">ฤฤng kรฝ</div>
        <div class="dangky-child"></div>
    </div>
        <div class="qun-mt-khu">Quรชn mแบญt khแบฉu?</div>

    <div class="dangnhapbanggoogle">
        <img class="dangnhapbanggoogle-child" alt="" src="Rectangle 6659.svg">
        <div class="ng-nhp-bng">ฤฤng nhแบญp bแบฑng Google</div>
        <img class="icon-google-icon" alt="" src="๐ฆ icon \"google icon\".svg">
    </div>
    <div class="dangnhapbangfacebook">
        <img class="dangnhapbanggoogle-child" alt="" src="Rectangle 6659.svg">
        <div class="ng-nhp-bng">ฤฤng nhแบญp bแบฑng Facebook</div>
        <img class="icon-google-icon" alt="" src="๐ฆ icon \"facebook color\".svg">
    </div>
    <img class="chevron-left-icon" alt="" src="~/svg/chevron-left.svg">
</div>