.footer-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #fff;
}
.handk-footer-icon {
  position: absolute;
  height: 48.39%;
  width: 15.63%;
  top: 11.18%;
  right: 67.99%;
  bottom: 40.43%;
  left: 16.39%;
  max-width: 10px;
  overflow: hidden;
  max-height: 100px;
  object-fit: cover;
}

