
@{
    ViewData["Title"] = "Thanh toán thành công";
}


<div class="text-center">
    

    <div class="container" style="margin: 150px 0;">
        <h1 class="text-success">Thanh Toán Thành Công</h1>
        <p>Order ID: <strong>@Model.OrderId</strong></p>
        <p>Amount: <strong>@Model.Amount</strong></p>
        <p>Order Info: <strong>@Model.OrderInfo</strong></p>
    </div>
</div>

<script>
    $(document).ready(function () {
        
    });
</script>