<h2>Đăng Nhập</h2>
<form asp-action="Login" method="post">
    <div>
        <label>Tên người dùng:</label>
        <input name="username" />
    </div>
    <div>
        <label>Mật khẩu:</label>
        <input name="password" type="password" />
    </div>
    <button type="submit">Đăng Nhập</button>
</form>